&.umb-dialog-body {
    .controls-row {
        margin-left: 0 !important;
    }
}

.umb-panel-body {
    h4 { margin-bottom: .25em; }
    p { margin-bottom: 1em; }
}

.custom-fields {
    list-style-type: none;
    margin: 0;
    padding: 0;
}