table {
    &.sortable {
        th { 
            cursor: pointer; 
        }
        th.sorted { 
            color: $orange;
            &.desc { 
                font-style: italic; 
            }
        }
    }
}