<div class="umb-dialog-body uLocate with-footer" ng-controller="uLocate.Controllers.CreateLocationTypeDialogController">
    <div class="umb-pane">
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap ">
                <label class="control-label">
                    Location Type Name
                    <small>
                        New location types <strong>append</strong> the default location, so you will always have address, phone, email, and lat/long fields.
                    </small>
                </label>
                <div class="controls controls-row">
                    <input type="text" ng-model="typeName" class="bigInput input-large-type input-block-level" placeholder="Location Type Name" />
                    <div class="error" ng-show="showLocationError">Location type name is required.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="umb-pane btn-toolbar umb-btn-toolbar">
        <div class="control-group umb-control-group">
            <a ng-click="nav.hideNavigation()" class="btn btn-link">Cancel</a>
            <input type="submit" value="Create" ng-click="confirm()" class="btn btn-primary">
        </div>
    </div>
</div>
<div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
    <button class="btn" ng-click="nav.hideNavigation()">
        <localize key="buttons_somethingElse">Do something else</localize>
    </button>
</div>