<div class="umb-panel uLocate" ng-controller="uLocate.Controllers.EditLocationDialogController">
    <div class="umb-modalcolumn-header">
        <h1>Edit {{dialogData.location.name}}</h1>
    </div>
    <div class="umb-panel-body with-header with-footer">
        <form name="editLocationDialogForm">
            <div class="control-group row-fluid">
                <label>Name <span class="validation-error" ng-class="{'show': isInvalidField(editLocationDialogForm.name)}">- Required</span></label>
                <input type="text" class="span12" name="name" ng-model="dialogData.location.name" required />
            </div>
            <div class="control-group row-fluid">
                <label>Address 1 <span class="validation-error" ng-class="{'show': isInvalidField(editLocationDialogForm.address1)}">- Required</span></label>
                <input type="text" class="span12" name="address1" ng-model="dialogData.location.address.streetAddress" required />
            </div>
            <div class="control-group row-fluid">
                <label>Address 2</label>
                <input type="text" class="span12" ng-model="dialogData.location.address.extendedAddress" />
            </div>
            <div class="control-group row-fluid">
                <label>City <span class="validation-error" ng-class="{'show': isInvalidField(editLocationDialogForm.locality)}">- Required</span></label>
                <input type="text" class="span12" name="locality" ng-model="dialogData.location.address.locality" required />
            </div>
            <div class="control-group row-fluid" ng-show="hasProvinces()">
                <label>{{provinceLabel}}</label>
                <select class="span12" ng-model="selected.region" ng-options="option.name for option in selected.country.provinces"></select>
            </div>
            <div class="control-group row-fluid" ng-show="!hasProvinces()">
                <label>{{provinceLabel}} <span class="validation-error" ng-class="{'show': isInvalidField(editLocationDialogForm.region) && !hasProvinces()}">- Required</span></label>
                <input type="text" class="span12" name="region" ng-model="dialogData.location.address.region" ng-required="!hasProvinces()" />
            </div>
            <div class="control-group row-fluid">
                <label>Zip/Postal Code <span class="validation-error" ng-class="{'show': isInvalidField(editLocationDialogForm.postalCode)}">- Required</span></label>
                <input type="text" class="span12" name="postalCode" ng-model="dialogData.location.address.postalCode" required />
            </div>
            <div class="control-group row-fluid">
                <label>Country</label>
                <select class="span12" ng-model="selected.country" ng-options="option.name for option in options.countries" ng-change="updateCountry(selected.country)"></select>
            </div>
            <div class="control-group row-fluid">
                <label><input type="checkbox" ng-model="shouldHideCoordinatesEditor" /> Automatically Update Lat/Lng</label>
            </div>
            <div ng-show="!shouldHideCoordinatesEditor">
                <div class="control-group row-fluid">
                    <label>Latitude <span class="validation-error" ng-class="{'show': isInvalidField(editLocationDialogForm.lat) && !shouldHideCoordinatesEditor}">- Required</span></label>
                    <input type="text" class="span12" name="lat" ng-model="dialogData.location.coordinates.latitude" ng-required="!shouldHideCoordinatesEditor" />
                </div>
                <div class="control-group row-fluid">
                    <label>Longitude <span class="validation-error" ng-class="{'show': isInvalidField(editLocationDialogForm.lng) && !shouldHideCoordinatesEditor}">- Required</span></label>
                    <input type="text" class="span12" name="lng" ng-model="dialogData.location.coordinates.longitude" ng-required="!shouldHideCoordinatesEditor" />
                </div>
            </div>
            <div class="control-group row-fluid">
                <label>Email</label>
                <input type="text" class="span12" ng-model="dialogData.location.email" />
            </div>
            <div class="control-group row-fluid">
                <label>Phone Number</label>
                <input type="text" class="span12" ng-model="dialogData.location.phone" />
            </div>
            <!-- TODO: After the default location type data loads in, any created location type data associated with this location is loaded -->
        </form>
    </div>

    <div class="umb-panel-footer">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-link" data-ng-click="close()">Cancel</button>
            <button type="button" class="btn btn-primary" data-ng-click="save()">Save</button>
        </div>
    </div>
</div>