<div class="umb-panel uLocate" ng-controller="uLocate.Controllers.ViewDialogController">
    <div class="umb-modalcolumn-header">
        <h1>Location</h1> <!-- TODO: Replace "Location" with the location's name -->
    </div>
    
    <div class="umb-panel-body with-header with-footer">
        
    </div>
    
    <div class="umb-panel-footer">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-link" data-ng-click="close()">Close</button>
            <button type="button" class="btn btn-primary" data-ng-click="submit(dialogData)">Edit Location</button>
        </div>
    </div>

</div>