<div ng-controller="uLocate.Controllers.ImportController">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <h1><ulocate-localize key="importLocations">Import Locations</ulocate-localize></h1>
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <a class="btn btn-primary" ng-show="!isUploading" ng-click="uploadFile()" ng-disabled="isUploading || !isValidFileType"><localize key="general_import">Import</localize></a>
                        <a class="btn btn-disabled" ng-show="isUploading" ng-disabled="true">Importing File...</a>
                    </div>
                </div>
            </div>
        </umb-header>

        <umb-tab-view>

            <div class="umb-pane">
                <div class="well" style="background-color: #2e8aea; color: white;" ng-show="isUploading">File import started. This may take a few moments. Do not leave or reload page or the import might not complete properly.</div>
                <div class="well" ng-show="importResults != ''">{{importResults}}</div>
                <div class="control-group umb-control-group">
                    <label class="control-label" for="import">
                        <!-- TODO: Allow for XML and JSON file imports later -->
                        <ulocate-localize key="importFile">Import File</ulocate-localize>
                        <small><ulocate-localize key="importFileHelp">Select a CSV file to import. You can save Excel spreadsheets to a CSV format.</ulocate-localize></small>
                    </label>


                    <div class="controls controls-row">
                        <button ng-file-select ng-model="files" ng-file-change="fileSelected(files)" class="file button btn-primary" ng-multiple="false" accept="*.csv" ng-show="!isUploading"><ulocate-localize key="chooseFile">Choose File</ulocate-localize></button>
                        <button type="button" class="btn btn-disabled" ng-show="isUploading">Importing File...</button>
                        <span ng-show="isValidFileType">{{file.name}}</span> 
                        <span class="error" style="color: red;" ng-show="!isValidFileType">You can only import .CSV files.</span>
                    </div>
                </div>

                <div class="control-group umb-control-group">
                    <label class="control-label" for="type">
                        <ulocate-localize key="locationType">Location Type</ulocate-localize>
                        <small><ulocate-localize key="locationTypeImportHelp">You can only import a single location type per upload.</ulocate-localize></small>
                    </label>

                    <div class="controls controls-row">
                        <select id="type" name="type" ng-model="select" ng-options="option.name for option in locationTypes" ng-change="updateLocationType(select)"></select>
                    </div>
                </div>

            </div>

        </umb-tab-view>
    </umb-panel>
</div>