<div data-ng-controller="uLocate.Controllers.LocationsController" class="uLocate">

    <!-- The locations view route displays this panel -->
    <umb-panel ng-hide="selectedView != 'view'">
        <umb-header>
            <div class="span7">
                <h1><ulocate-localize key="locations">Locations</ulocate-localize></h1>
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group" ng-class="{'open': openMenu}">
                        <a class="btn" ng-click="openMenu = !openMenu"><localize key="general_actions">Actions</localize> <span class="caret"></span></a>
                        <ul class="dropdown-menu umb-actions">
                            <li class="action">
                                <a ng-click="openCreateDialog(); openMenu = !openMenu;"><i class="icon icon-add"></i><span class="menu-label"><localize key="actions_create">Create</localize></span></a>
                            </li>
                            <li class="action sep">
                                <a ng-click="getLocations(); openMenu = !openMenu;"><i class="icon icon-refresh"></i><span class="menu-label"><localize key="actions_refreshNode">Reload nodes</localize></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </umb-header>

        <umb-tab-view>

            <div class="umb-pane">
                <div class="well" style="background-color: #2e8aea; color: white;" ng-show="isGeocoding">Geocoding the coordinates for the address. This may take a moment. Do not leave or reload page or your location might not save properly.</div>
                <div class="map-wrapper span12">
                    <div class="map-bar top row-fluid">
                        <!-- Search -->
                        <form class="span8 form-search">
                            <i class="icon-search"></i>
                            <input type="text" placeholder="Search uLocate addresses" class="span9" ng-model="filter" />
                            <a class="btn btn-primary" ng-click="changeFilter(filter)"><localize key="general_search">Search</localize></a>
                        </form>
                        <div class="span4">
                            <div class="btn-group pull-right">
                                <a class="btn btn-primary" ng-click="openCreateDialog()"><localize key="actions_create">Create</localize></a>
                            </div>
                        </div>
                    </div>
                    <div class="map" id="location-map"></div>
                    <div class="map-bar bottom row-fluid">
                        <!-- perPage dropdown -->
                        <div class="span6 form-inline" ng-show="locationsLoaded">
                            <label class="control-label"><localize key="general_show">Show</localize>:</label>
                            <select class="input-small" ng-model="selected.perPage" ng-options="option for option in options.perPage" ng-change="updatePerPage(selected.perPage)"></select>
                        </div>
                        <!-- Pagination -->
                        <div class="span6 text-right" ng-show="hasLocations()">
                            <button type="button" class="btn btn-link" ng-click="changePage(-1)" ng-show="page > 0"><i class="icon-left-double-arrow"></i></button>
                            <span>{{page + 1}} / {{totalPages}}</span>
                            <button type="button" class="btn btn-link" ng-click="changePage(1)" ng-show="page < (totalPages - 1)"><i class="icon-right-double-arrow"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Locations -->
                <table class="table table-hover sortable" ng-show="hasLocations()">
                    <thead>
                        <tr>
                            <!-- TODO: Should be able to sort by name, address, phone, lat/long, and type -->
                            <!--th><input type="checkbox" /></th--> <!-- TODO: The only bulk action that should be available is delete. See Janae about the best way to do this? -->
                            <th><localize key="general_name">Name</localize></th>
                            <th><ulocate-localize key="address">Address</ulocate-localize></th>
                            <th><localize key="general_email">Email</localize></th>
                            <th><ulocate-localize key="phone">Phone</ulocate-localize></th>
                            <th class="latlong"><ulocate-localize key="latLong">Lat/Long</ulocate-localize></th>
                            <th><localize key="general_type">Type</localize></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="location in locations" class="vcard" ng-click="zoomToLocation(location)">
                            <!--td><input type="checkbox" /></td-->
                            <td class="fn"><a href class="link-blue" ng-click="openViewDialog(location)">{{location.name}}</a></td>
                            <td class="adr">
                                <span class="street-address">{{location.address1}}</span>
                                <span class="extended-address" ng-show="location.address2 != ''">{{location.address2}}</span>
                                <span class="locality">{{location.locality}}</span>, <span class="region">{{location.region}}</span> <span class="postal-code">{{location.postalCode}}</span>
                                <span class="country-name">{{location.countryCode}}</span>
                            </td>
                            <td class="email"><a href="mailto:{{location.email}}" ng-show="location.email != ''">{{location.email}}</a></td>
                            <td class="tel">{{location.phone}}</td>
                            <td class="geo latlong">
                                <span class="latitude">{{location.latitude}}</span> / <span class="longitude">{{location.longitude}}</span>
                            </td>
                            <td>{{location.locationTypeName}}</td>
                            <td class="btn-group text-right">
                                <a class="btn btn-mini" ng-click="openEditDialog(location)"><i class="icon-edit"></i></a>
                                <a class="btn btn-mini btn-danger" ng-click="openDeleteDialog(location)"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </umb-tab-view>

    </umb-panel>

    <!-- The create location route displays this panel -->
    <div class="umb-panel" ng-hide="selectedView != 'create'">
        <form name="createForm">
            <umb-header>
                <div class="span7">
                    <div class="umb-headline-editor-wrapper">
                        <input type="text" name="name" ulocate-localize="placeholder" class="umb-headline" placeholder="locationName" ng-model="newLocation.name" required />
                        <span class="help-inline" val-msg-for="name" ng-show="isFieldInvalid(createForm.name)"><localize key="general_required">Required</localize></span>
                    </div>
                </div>
            </umb-header>

            <umb-tab-view>

                <div class="umb-pane form-horizontal">
                    <div class="well" style="background-color: #2e8aea; color: white;" ng-show="isGeocoding">Geocoding the coordinates for the address. This may take a moment. Do not leave or reload page or your location might not save properly.</div>
                    <div class="control-group umb-control-group">
                        <label class="control-label" for="streetAddress">
                            <ulocate-localize key="streetAddress">Street Address</ulocate-localize>
                            <small><ulocate-localize key="streetAddressHelp">Street address or c/o</ulocate-localize></small>
                        </label>

                        <div class="controls controls-row">
                            <input type="text" name="streetAddress" id="streetAddress" class="umb-editor umb-textstring textstring" ng-model="newLocation.address1" required />
                            <span class="help-inline" ng-show="isFieldInvalid(createForm.streetAddress)"><localize key="general_required">Required</localize></span>
                        </div>
                    </div>

                    <div class="control-group umb-control-group">
                        <label class="control-label" for="extendedAddress">
                            <ulocate-localize key="extendedAddress">Extended Address</ulocate-localize>
                            <small><ulocate-localize key="extendedAddressHelp">Suite, apartment, unit, etc</ulocate-localize></small>
                        </label>

                        <div class="controls controls-row">
                            <input type="text" name="extendedAddress" id="extendedAddress" class="umb-editor umb-textstring textstring" ng-model="newLocation.address2" />
                        </div>
                    </div>

                    <div class="control-group umb-control-group">
                        <label class="control-label" for="locality"><ulocate-localize key="city">City</ulocate-localize></label>

                        <div class="controls controls-row">
                            <input type="text" name="locality" id="locality" class="umb-editor umb-textstring textstring" ng-model="newLocation.locality" required />
                            <span class="help-inline" ng-show="isFieldInvalid(createForm.locality)"><localize key="general_required">Required</localize></span>
                        </div>
                    </div>

                    <div class="control-group umb-control-group">
                        <label class="control-label" for="region"><ulocate-localize key="stateProvince">State/Province</ulocate-localize></label>

                        <div class="controls controls-row">
                            <input type="text" name="region" id="region" class="umb-editor umb-textstring textstring" ng-model="newLocation.region" ng-show="!hasProvinces()" ng-required="!hasProvinces()">
                            <select class="umb-editor umb-dropdown" ng-model="selected.region" ng-options="option.name for option in selected.country.provinces" ng-show="hasProvinces()"></select>
                            <span class="help-inline" ng-show="!hasProvinces() && isFieldInvalid(createForm.region)"><localize key="general_required">Required</localize></span>
                        </div>
                    </div>

                    <div class="control-group umb-control-group">
                        <label class="control-label" for="postalCode"><ulocate-localize key="zipPostalCode">Zip/Postal Code</ulocate-localize></label>

                        <div class="controls controls-row">
                            <input type="text" name="postalCode" id="postalCode" class="umb-editor umb-textstring textstring" ng-model="newLocation.postalCode" required />
                            <span class="help-inline" ng-show="isFieldInvalid(createForm.postalCode)"><localize key="general_required">Required</localize></span>
                        </div>
                    </div>

                    <div class="control-group umb-control-group">
                        <label class="control-label" for="countryName"><ulocate-localize key="country">Country</ulocate-localize></label>
                        <div class="controls controls-row">
                            <select id="countryName" class="umb-editor umb-dropdown" ng-model="selected.country" ng-options="option.name for option in options.countries" ng-change="updateCountry(selected.country)"></select>
                        </div>
                    </div>

                    <div class="control-group umb-control-group">
                        <label class="control-label" for="latitude">
                            <ulocate-localize key="latitude">Latitutde</ulocate-localize>
                            <small><ulocate-localize key="latitudeHelp">Optional. Will auto-generate based on address unless both latitude and longitude are manually entered.</ulocate-localize></small>
                        </label>

                        <div class="controls controls-row">
                            <input type="text" name="textbox" id="latitude" class="umb-editor umb-textstring textstring" ng-model="newLocation.latitude" />
                        </div>
                    </div>

                    <div class="control-group umb-control-group">
                        <label class="control-label" for="longitude">
                            <ulocate-localize key="longitude">Longitude</ulocate-localize>
                            <small><ulocate-localize key="longitudeHelp">Optional. Will auto-generate based on address unless  both latitude and longitude are manually entered.</ulocate-localize></small>
                        </label>

                        <div class="controls controls-row">
                            <input type="text" name="textbox" id="longitude" class="umb-editor umb-textstring textstring" ng-model="newLocation.longitude" />
                        </div>
                    </div>

                    <div class="control-group umb-control-group">
                        <label class="control-label" for="email"><localize key="general_email">Email</localize></label>

                        <div class="controls controls-row">
                            <input type="text" name="textbox" id="email" class="umb-editor umb-textstring textstring" ng-model="newLocation.email" />
                        </div>
                    </div>

                    <div class="control-group umb-control-group">
                        <label class="control-label" for="tel"><ulocate-localize key="phone">Phone Number</ulocate-localize></label>

                        <div class="controls controls-row">
                            <input type="text" name="textbox" id="longitude" class="umb-editor umb-textstring textstring" ng-model="newLocation.phone" />
                        </div>
                    </div>

                    <!-- TODO: All items after this point would be custom items based on a custom location type -->

                    <div class="umb-tab-buttons">
                        <div class="btn-group">
                            <a class="btn" href="#/uLocate/uLocate/locations/view"><localize key="general_cancel">Cancel</localize></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-success" ng-click="processCreateLocationForm(newLocation)"><localize key="buttons_save">Save</localize></a>
                        </div>
                    </div>
                </div>
            </umb-tab-view>
        </form>
    </div>
</div>