<?xml version="1.0"?>
<uLocate>
  <providers>
    <provider alias="googleMapsAPIProvider" logRequests="false" enableCaching="true" cacheDuration="500" geocodeLimit="500">
      <settings>
        <add key="urlString" value="http://maps.googleapis.com/maps/api/geocode/xml?address={0}&amp;sensor=false" />
      </settings>
    </provider>
  </providers>
  <datatypes />
</uLocate>