<div ng-controller="uLocate.Controllers.ExportController">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <h1><ulocate-localize key="exportLocations">Export Locations</ulocate-localize></h1>
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <a class="btn btn-primary" ng-click="exportFile()"><ulocate-localize key="export">Export</ulocate-localize></a>
                    </div>
                </div>
            </div>
        </umb-header>
        
        <umb-tab-view>
            <div class="umb-pane">
                <div class="control-group umb-control-group">
                    <label class="control-label" for="type">
                        <ulocate-localize key="locationType">Location Type</ulocate-localize>
                        <small><ulocate-localize key="locationTypeExportHelp">You can only export a single location type per download.</ulocate-localize></small>
                    </label>

                    <div class="controls controls-row">
                        <select id="type" name="type" ng-model="selected.locationType" ng-options="option.name for option in options.locationType" ng-change="locationTypeSelected(selected.locationType)"></select>
                    </div>
                </div>
            </div>
        </umb-tab-view>
    </umb-panel>
</div>