<div class="uLocate" ng-controller="uLocate.Controllers.LocationTypesController">

    <!-- The location types view route displays this panel -->
    <umb-panel ng-hide="selectedView != 'view'">
        <umb-header>
            <div class="span7">
                <h1><ulocate-localize key="locationTypes">Location Types</ulocate-localize></h1>
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group" ng-class="{'open': openMenu}">
                        <a class="btn" ng-click="openMenu = !openMenu"><localize key="general_actions">Actions</localize> <span class="caret"></span></a>
                        <ul class="dropdown-menu umb-actions">
                            <li class="action">
                                <a ng-click="openCreateDialog(); openMenu = !openMenu;"><i class="icon icon-add"></i><span class="menu-label"><localize key="actions_create">Create</localize></span></a> <!-- TODO: Opens the page to create a new location type -->
                            </li>
                            <li class="action sep">
                                <a><i class="icon icon-refresh"></i><span class="menu-label"><localize key="actions_refreshNode">Reload nodes</localize></span></a> <!-- TODO: Reloads the location types and ideally kicks the cache in the teeth -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </umb-header>

        <umb-tab-view>

            <div class="umb-pane">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td><localize key="general_name">Name</localize></td>
                            <td><ulocate-localize key="fields">Fields</ulocate-localize></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="type in locationTypes">
                            <td><i class="{{type.icon}}"></i> {{type.name}}</td>
                            <td><span ng-repeat="property in type.properties"><span ng-show="$index != 0">, </span>{{property.propName}}</span></td>
                            <td class="btn-group text-right">
                                <a class="btn btn-mini" href="#/uLocate/uLocate/locationTypes/edit?key={{type.key}}" ng-show="!isDefaultLocationType(type)"><i class="icon-edit"></i></a>
                                <a class="btn btn-mini btn-danger" ng-click="openDeleteDialog(type)" ng-show="!isDefaultLocationType(type)"><i class="icon-trash"></i></a> 
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </umb-tab-view>

    </umb-panel>

    <!-- The location types edit (also create) route displays this panel -->
    <umb-panel ng-hide="selectedView != 'edit'">
        <umb-header tabs="tabs">
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <input type="text" name="name" ulocate-localize="placeholder" class="umb-headline" placeholder="locationTypeName" ng-model="newLocationType.name" required="" />
                    <span class="help-inline" ng-show="!isTypeNameProvided(newLocationType.name)"><localize key="general_required">Required</localize></span>
                </div>
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <a class="btn btn-primary" ng-click="saveNewLocationType(newLocationType)"><localize key="buttons_save">Save</localize></a>
                    </div>
                </div>
            </div>
        </umb-header>

        <umb-tab-view>

            <umb-tab id="tabinfo" active="true" rel="info" label="Info">

                <div class="umb-pane">

                    <div class="control-group umb-control-group">

                        <label class="control-label" for="icon"><localize key="general_icon">Icon</localize></label>

                        <div class="controls controls-row">

                            <div class="umbIconDropdownList">
                                <a class="btn btn-link picker-icons" ng-click="openIconPicker()"> <i class="{{newLocationType.icon}}"></i> <localize key="general_choose">Choose</localize>...</a>
                                <input name="icon" type="hidden" ng-model="newLocationType.icon">
                            </div>

                        </div>

                    </div>

                    <div class="control-group umb-control-group">

                        <label class="control-label" for="description">
                            <localize key="editcontenttype_description">Description</localize>
                            <small><ulocate-localize key="descriptionHelp">Displayed with the icon when creating a new location of this type</ulocate-localize></small>
                        </label>
                        <div class="controls controls-row">
                            <textarea name="description" ng-model="newLocationType.description" class="umb-editor umb-textarea"></textarea>
                        </div>

                    </div>

                </div>

            </umb-tab>

            <umb-tab id="tabproperties" rel="properties" label="Properties">

                <div class="umb-pane form-horizontal">

                    <div class="control-group umb-control-group">
                        <label class="control-label">
                            {{newLocationType.name}} <localize key="general_properties">Properties</localize>
                            <small>
                                <ulocate-localize key="propertiesHelp">New location types <strong>append</strong> the default location, so you will always have address, phone, email, and lat/long fields.</ulocate-localize>
                            </small>
                        </label>

                        <div class="controls controls-row">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <td><localize key="general_name">Name</localize></td>
                                        <td><localize key="general_alias">Alias</localize></td>
                                        <td><localize key="general_type">Type</localize></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="property in newLocationType.properties">
                                        <td><input type="text" ulocate-localize="placeholder" placeholder="propertyName" ng-model="property.propName" /></td>
                                        <td><input type="text" ulocate-localize="placeholder" placeholder="propertyAlias" ng-model="property.propAlias" /></td>
                                        <td><select ng-model="property.selectedType" ng-options="option.name for option in options.type"></select></td>
                                        <td class="btn-group text-right">
                                            <a class="btn btn-mini btn-primary" ng-click="addNewProperty()" ng-show="$index == newLocationType.properties.length - 1"><i class="icon-add"></i></a>
                                            <a class="btn btn-mini btn-danger" ng-click="deleteProperty($index)"><i class="icon-trash"></i></a> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </umb-tab>

        </umb-tab-view>

    </umb-panel>
</div>